.listMovie
{
    margin-left: 55px;
    display: flex;
}

.listMovie__image > img
{
    margin-top: 100px;
    max-width: 500px;
    max-height: 500px;
    object-fit: contain;
}

.listMovie__details
{
    margin-top: 97px;
    margin-left: 20px;
}

.listMovie__content
{
    display: flex;
    flex-direction: column;
}