.movie
{
    margin-top: 320px;
}

.movie > .box > img
{
    max-height: 200px;
    max-width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    transition: 0.5s;
}

.movie > .box > img:hover
{
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.movie__options
{
    margin-left: 13px;
    color: white;
}

.movie__options__button
{
    padding: 0px;
    border: none;
    background: #141414;
}

.movieOptions__play
{
    color: white;
}

.movieOptions__like
{
    color: white;
}

.movieOptions__dislike
{
    color: white;
}

.movieOptions__add
{
    color: white;
}

.movie__details
{
    margin-left: 13px;
    display: flex;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.movie__details > h4
{
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.movie__genre
{
    color: white;
}

.movie__genre > h3
{
    margin-left: 13px;
}

.movieOptions__play
{
    margin-right: 5px;
}

.movieOptions__add
{
    margin-left: 5px;
    margin-right: 5px;
}

.movieOptions__like
{
    margin-left: 5px;
    margin-right: 5px;
}

.movieOptions__dislike
{
    margin-left: 5px;
    margin-right: 5px;
}